@import "tailwindcss";

*{
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.login_form_container {
  border-radius: 50px 5px;
}

.login_form{
  border-radius: 50px 5px;
}

.login_form_container::before {
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #3cbdb1
  );
  animation: rotate_border 6s linear infinite;
}

.login_form_container::after {
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #c8a217
  );
  animation: rotate_border 6s linear infinite;
  animation-delay: -3s;
}

@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}